<%= form_with model: @kitten do |form| %>
<div class="formdiv">
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name %>
  <%= form.label :age, 'Age in years' %>
  <%= form.number_field :age %>
  <%= form.label :cuteness, 'Choose cuteness' %>
  <%= form.select :cuteness, options_for_select(Kitten.cuteness_values, @kitten.cuteness) %>
  <%= form.label :softness, 'Choose softness' %>
  <%= form.select :softness, options_for_select(Kitten.softness_values, @kitten.softness) %>
  <%= form.submit button_message %>
</div>
<% end %>